.add_cse {
        width: 100%;
}

.gsc-input {
        margin: -3px !important;
        float: right;
        width: 33%;
}
#gsc-iw-id1 {
        height: 30px;
}
.gsc-input-box{
  overflow: hidden;
  margin-top: 2px;
}
.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible {
        margin-left: 5%;
        margin-right: 5%
}
.gsc-wrapper {
        width: 70%;
}
